
# NecroBrazierBlockEntity
public-f net.minecraft.core.BlockPos worldPosition
public-f net.minecraft.world.level.Level level
public com.Polarice3.Goety.common.blocks.entities.NecroBrazierBlockEntity.candlestickBlockEntityList
public com.Polarice3.Goety.common.blocks.entities.NecroBrazierBlockEntity.findCandlesticks()V
public com.Polarice3.Goety.common.blocks.entities.NecroBrazierBlockEntity.makeParticles()V
protected com.Polarice3.Goety.common.blocks.entities.NecroBrazierBlockEntity.activate(Lnet/minecraft/world/level/Level;)Z 

# BrewCauldronBlockEntity
public com.Polarice3.Goety.common.blocks.entities.BrewCauldronBlockEntity.candlestickBlockEntityList 
public com.Polarice3.Goety.common.blocks.entities.BrewCauldronBlockEntity.findCandlesticks()V 
